[Unit]
Description=RPS Test SAML
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull {{ c4hou_docker_url }}
ExecStartPre=/bin/bash -c 'docker ps -q --filter "name={{ c4hou_docker_name }}" | grep -q . && docker stop {{ c4hou_docker_name }} && docker rm {{ c4hou_docker_name }} || true'
ExecStart=/usr/bin/docker run --name {{ c4hou_docker_name }} \
                              --publish {{ c4hou_port }}:1880 \
                              --rm \
                              {{ c4hou_docker_url }}

[Install]
WantedBy=multi-user.target
